
body {
    background-image: url(background.jpg);
    
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: 100% 100%;
     background-repeat: no-repeat;
    background-position: center center; 
  color: rgb(51,51,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;

}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

